// Styles for dialog window
.mfp-wrap
  -webkit-overflow-scrolling: touch
  -webkit-transform: translateZ(0)

html.mfp-helper
  height: 100%
  body
    overflow: hidden
    height: 100%
    -webkit-transform: translateZ(0)

#small-dialog
  background: white
  padding: 20px 30px
  text-align: left
  max-width: 600px
  margin: 40px auto
  position: relative


// Fade-zoom animation for first dialog
.popup-buble
  .mfp-close
    position: absolute
    top: 25px
    right: 25px
    z-index: 10000
    opacity: 1
    width: auto
    height: auto
    font-size: 0
    padding: 0

  .popup-dialog, .mfp-content
    opacity: 0
    transition: all 0.2s ease-in-out
    transform: scale(0.8) translate3d(0,50%,0)
  &.mfp-ready
    .popup-dialog, .mfp-content
      opacity: 1
      transform: scale(1)
  &.mfp-removing
    .popup-dialog, .mfp-content
      transform: scale(0.8) translate3d(0,-50%,0)
      opacity: 0
  &.mfp-bg
    background: rgba(#231F20, .85)
    opacity: 0
    transition: opacity 0.3s $ease
  &.mfp-ready.mfp-bg
    opacity: 1
  &.mfp-removing.mfp-bg
    opacity: 0

.mfp-iframe-holder
  max-width: 1680px
  padding-left: 50px
  padding-right: 50px
  .mfp-content
    max-width: 100%
    width: 100vw
    height: 56.25vw
    max-height: 100vh
    max-width: 177.78vh
    margin: auto
    position: absolute 0

+r($mobile)
  .popup-buble
    .mfp-close
      right: 10px
      top: 10px
