// BENEFITS
.benefits(data-section="3" data-header="white")
  .container.container--narrow
    .benefits__wrapper
      // card 
      .benefits-card.wow
        .benefits-card__head
          +icon('ico-benefit-1')
          span Удобно
        .benefits-card__text Оставьте заявку на звонок, а остальное мы сделаем сами - не тратьте время на поиск подходящего оператора и согласование ТЗ   
      // card 
      .benefits-card.wow(data-animation-delay=".15s")
        .benefits-card__head
          +icon('ico-benefit-2')
          span Быстро
        .benefits-card__text Выполнение съемки возможно уже на следующий день после заявки благодаря базе из 650 исполнителей 
      // card 
      .benefits-card.wow(data-animation-delay=".3s")
        .benefits-card__head
          +icon('ico-benefit-3')
          span Надежно
        .benefits-card__text Мы работаем только с профессиональным операторами и контролируем процесс съемок каждого объекта 
