// SECTION
.section(data-section="2")
  .container
    .b-text
      .b-text__wrapper
        .b-text__content
          .b-text__how-it-works.wow(data-animation-delay=".8s" data-animation-class="wowFadeUp")
            +icon('ico-drone')
            span Как это работает? 
          .b-text__name.wow
            .b-text__sec-num 0/1
            span Техническое задание
          p.b-text__text.wow Наша команда уточнит все детали заказа и составит типовое ТЗ, с которым работают пилоты нашей платформы
          .callback-count.wow(data-animation-delay=".8s")
            .callback-count__number 12,2
            .callback-count__desc отклика на заказ <span>в течение 1 дня</span>
        
        .b-text__image.wow(data-animation-delay=".5s" data-animation-class="wowFadeRight")
          img(src='img/sectionImg_1.png' srcset='img/sectionImg_1@2x.png 2x')
        
// SECTION
.section
  .container
    .b-text
      .b-text__wrapper.b-text__wrapper--reverse
        .b-text__content
          .b-text__name.wow
            .b-text__sec-num 0/2
            span Выбор исполнителя
          p.b-text__text.wow Мы подберем наиболее подходящих исполнителей для решения задачи, исходя из навыков и оборудования пилотов, а также заявленного бюджета   
          .b-text__btn.wow(data-animation-delay=".8s")
            a(href="#").btn.btn-primary
              span.btn-corner
              span.btn-corner
              span.btn-corner
              span.btn-corner
              span 
                i.icon.icon-map
                span Показать на карте
            
        .b-text__image.pl5.wow(data-animation-delay=".5s" data-animation-class="wowFadeLeft")
          picture
            source(media="(min-width: 768px)" srcset="img/sectionImg_2.png 1x, img/sectionImg_2@2x.png 2x")
            source(media="(max-width: 768px)" srcset="img/sectionImg_2Mobile.png 1x, img/sectionImg_2Mobile@2x.png 2x")
            img.section-bg(src="img/el/sectionImg_2.png")
              
// SECTION
.section
  .container
    .b-text
      .b-text__wrapper
        .b-text__content
          .b-text__name.wow
            .b-text__sec-num 0/3
            span Съемка
          p.b-text__text.wow Проконтролируем процесс съемки: от своевременного появления на площадке до точного следования ТЗ   
      
        .b-text__image.mr-10.wow(data-animation-delay=".5s" data-animation-class="wowFadeRight")
          img(src='img/sectionImg_3.jpg' srcset='img/sectionImg_3@2x.jpg 2x')
  
// SECTION
.section
  .container
    .b-text
      .b-text__wrapper.b-text__wrapper--reverse
        .b-text__content
          .b-text__name.wow
            .b-text__sec-num 0/4
            span Монтаж
          p.b-text__text.wow Подготовим различные варианты по обработке материала: видео-туры, инфографики, панорамы, а также дополнение аэросъемки сценами с земли   
            
        .b-text__image.pl5.wow(data-animation-delay=".5s" data-animation-class="wowFadeLeft")
          img(src='img/sectionImg_4.png' srcset='img/sectionImg_4@2x.png 2x')

// SECTION
.section
  .container
    .b-text
      .b-text__wrapper
        .b-text__content
          .b-text__name.wow
            .b-text__sec-num 0/5
            span Результат
          p.b-text__text.wow Смонтированные материалы доступны с любого устройства из личного кабинета клиента   

        .b-text__image.mr-5.wow(data-animation-delay=".5s" data-animation-class="wowFadeRight")
          img(src='img/sectionImg_5.png' srcset='img/sectionImg_5@2x.png 2x')
          i.icon.icon-video-play(js-popupVideo href="https://www.youtube.com/watch?v=S_dfq9rFWAE")
