// CTA
.cta(data-header="white" data-section="8")
  .container
    .cta__wrapper
      .cta__title.wow Готовы заказать съемку?
      form(action="#" js-validateCta).cta-form
        .cta-form__inputs
          .ui-input.wow
            input(type="text" name="name" placeholder='Как к вам обращаться')
            label Как к вам обращаться
            +icon('ico-user')
          .ui-input.wow(data-animation-delay=".15s")
            input(type="tel" name="phone")
            label телефон
            +icon('ico-phone')
          .ui-input.wow(data-animation-delay=".3s")
            input(type="text" name="time")
            label Выберите время, мы вам перезвоним
        .cta-form__button.wow(data-animation-delay=".5s")
          button(type="submit").btn.btn-primary
            span.btn-corner
            span.btn-corner
            span.btn-corner
            span.btn-corner
            span Отправить
      
      ul.cta__menu.wow(data-animation-delay="1s")
        li
          a(href="#" js-scrollTo data-section-to="1") Главная
        li
          a(href="#" js-scrollTo data-section-to="2") Как это работает
        li
          a(href="#" js-scrollTo data-section-to="3") Наши преимущества
        li
          a(href="#" js-scrollTo data-section-to="4") Цены
        li
          a(href="#" js-scrollTo data-section-to="5") Типы съёмок
        li
          a(href="#" js-scrollTo data-section-to="7") Отзывы
        li
          a(href="#") Блог
