//FOOTER
footer.footer
  .container
    .footer__wrapper
      .footer__copy © 2018 Sarex Все права защищены
      .footer__contacts
        a(href="tel:+7(977)880-58-77").footer__contacts-phone +7(977)880-58-77
        a(href="mailto:").footer__contacts-email hello@sarex.io
      .footer__links
        a(href="#") Условия использования
        a(href="#") Политика конфиденциальностии
      .footer__socials
        a(href="#" target="_blank").social-tg
          +icon('ico-social-tg')
        a(href="#" target="_blank").social-vk
          +icon('ico-social-vk')
        a(href="#" target="_blank").social-fb
          +icon('ico-social-fb')
        a(href="#" target="_blank").social-tw
          +icon('ico-social-tw')
        a(href="#" target="_blank").social-insta
          +icon('ico-social-insta')
