// HEADER :: START
header.header.is-white
  .container
    .header__wrapper
      .header__hamburger
        .hamburger.hamburger--squeeze(js-hamburger)
          .hamburger-box
            .hamburger-inner
      a(href="#").header__logo
        +icon('ico-logo')
      ul.header__menu
        li
          a(href="#" js-scrollTo data-section-to="1") Главная
        li
          a(href="#" js-scrollTo data-section-to="2") Как это работает
        li
          a(href="#" js-scrollTo data-section-to="3") Наши преимущества
        li
          a(href="#" js-scrollTo data-section-to="4") Цены
        li
          a(href="#" js-scrollTo data-section-to="5") Типы съёмок
        li
          a(href="#" js-scrollTo data-section-to="7") Отзывы
        li
          a(href="#") Блог
      .header__cta
        a(href="#callback" js-popup).header__drone
          +icon('ico-drone')
        .header__order
          a(href="#callback" js-popup).btn.btn-primary
            span.btn-corner
            span.btn-corner
            span.btn-corner
            span.btn-corner
            span Заказать

// HEADER :: END

.mobile-navi
  .mobile-navi__wrapper
    ul.mobile-navi__menu
      li
        a(href="#" js-scrollTo data-section-to="1") Главная
      li
        a(href="#" js-scrollTo data-section-to="2") Как это работает
      li
        a(href="#" js-scrollTo data-section-to="3") Наши преимущества
      li
        a(href="#" js-scrollTo data-section-to="4") Цены
      li
        a(href="#" js-scrollTo data-section-to="5") Типы съёмок
      li
        a(href="#" js-scrollTo data-section-to="7") Отзывы
      li
        a(href="#") Блог
        
    .mobile-navi__cta
      a(href="#callback" js-popup).btn.btn-black
        span Заказать аэросъемку
      
      a(href="#").btn.btn-primary
        span.btn-corner
        span.btn-corner
        span.btn-corner
        span.btn-corner
        span 
          +icon('ico-drone')
          span Присоедениться
          
      .socials.socials--mobile
        a(href="#" target="_blank").social-tg
          +icon('ico-social-tg')
          include ../../inline-svg/social-circle.svg
        a(href="#" target="_blank").social-fb
          +icon('ico-social-fb')
          include ../../inline-svg/social-circle.svg
        a(href="#" target="_blank").social-you
          +icon('ico-social-you')
          include ../../inline-svg/social-circle.svg
        a(href="#" target="_blank").social-vk
          +icon('ico-social-vk')
          include ../../inline-svg/social-circle.svg
        
