// HEADER :: START
header.header.is-white
  .container
    .header__wrapper
      a(href="#").header__logo
        +icon('ico-logo')
      ul.header__menu
        li
          a(href="#") О нас
        li
          a(href="#") Публикации
        li
          a(href="#") Как это работает
        li
          a(href="#") Преимущества
        li
          a(href="#") Типы съемки
        li
          a(href="#") Гарантии
      .header__cta
        .header__drone
          +icon('ico-drone')
        .header__order
          a(href="#callback" js-popup).btn.btn-primary
            //- span.btn-primary__corner
            //- span.btn-primary__corner
            //- span.btn-primary__corner
            //- span.btn-primary__corner
            span Заказать

// HEADER :: END
