// HERO
.hero
  .container
    .hero__wrapper
      .hero__play.wow(data-animation-delay=".5s" data-animation-class="wowFadeDown" js-popupVideo href="https://www.youtube.com/watch?v=S_dfq9rFWAE")
        i.icon.icon-play

      h1.hero__title.wow Поддержка с воздуха для Вашего бизнеса
      h2.hero__subtitle.wow Аэросъемка в более чем 50 городах России <br> и СНГ от профессиональных пилотов
      .hero__cta.wow(data-animation-delay=".5s")
        a(href="#").btn.btn-hero
          span.btn-corner
          span.btn-corner
          span.btn-corner
          span.btn-corner
          span Заказать аэросъемку
      .hero__join.wow Есть коптер? <a href="#">Присоединяйся к нам</a>
      .hero__scroll.wow(data-animation-delay="1s")
        include ../../inline-svg/scroll.svg
        span Скролл вниз
