// LOGOS
.logos
  .logos__wrapper
    .logos__img
      i.icon.icon-logo1-grad
      i.icon.icon-logo1
    .logos__img
      i.icon.icon-logo3-grad
      i.icon.icon-logo3
    .logos__img
      i.icon.icon-logo2-grad
      i.icon.icon-logo2
    .logos__img
      i.icon.icon-logo4-grad
      i.icon.icon-logo4
    .logos__img
      i.icon.icon-logo5-grad
      i.icon.icon-logo5
  
  .swiper-pagination
