// MID CTA
.mid-cta
  .container
    .mid-cta__wrapper
      .mid-cta__name.wow
        +icon('ico-cta-check')
        span Готовы заказать аэросъемку <br> прямо сейчас?
      .mid-cta__button.wow(data-animation-delay=".5s")
        a(href="#").btn.btn-black
          span Заказать аэросьемку
      .mid-cta__counter.wow
        .mid-cta__counter-left
          .mid-cta__counter-sec 0.256
          span сек
        .mid-cta__counter-right
          span Среднее время отклика <br> на вашу заявку
