.pagination(js-pagination data-current="1")
  .pagination__el(data-section="1").is-active
    span 0.1
  .pagination__el(data-section="2")
    span 0.2
  .pagination__el(data-section="3")
    span 0.3
  .pagination__el(data-section="4")
    span 0.4
  .pagination__el(data-section="5")
    span 0.5
  .pagination__el(data-section="6")
    span 0.6
  .pagination__el(data-section="7")
    span 0.7
