// PRICES
.prices
  .container
    .prices__title.wow Цены на наши услуги
    .prices__wrapper
      // card
      .prices-card.wow
        .prices-card__inner
          .prices-card__head
            .prices-card__num 01
            .prices-card__name Базовый
          .prices-card__price
            .prices-card__price-num 6 990₽
            span за съемку
          ul.prices-card__list
            li 15 фотографий
          .prices-card__cta
            a(href="#").btn.btn-black
              span Заказать 
      // card
      .prices-card.wow(data-animation-delay=".1s")
        .prices-card__inner
          .prices-card__head
            .prices-card__num 02
            .prices-card__name Стандартный
            .prices-card__tag Popular
          .prices-card__price
            .prices-card__price-num 9 990₽
            span за съемку
          ul.prices-card__list
            li 15 фотографий
            li 3 мин. видео
          .prices-card__cta
            a(href="#").btn.btn-black
              span Заказать    
      // card
      .prices-card.wow(data-animation-delay=".2s")
        .prices-card__inner
          .prices-card__head
            .prices-card__num 03
            .prices-card__name Продвинутый
          .prices-card__price
            .prices-card__price-num 24 990₽
            span за съемку
          ul.prices-card__list
            li 15 фотографий
            li 3 панорамы
            li 90-секундной реальное <br> видео:
              ul
                li монтаж
                li инфографика
                li музыка / закадровый голос
          .prices-card__cta
            a(href="#").btn.btn-black
              span Заказать 
      // card
      .prices-card.wow(data-animation-delay=".3s")
        .prices-card__inner
          .prices-card__head
            .prices-card__num 04
            .prices-card__name Бизнес
          .prices-card__price.prices-card__price--invert
            span цена
            .prices-card__price-num По запросу
            
          .prices-card__description
            p Ищете комплексное решение по аэромониторингу? <br> Мы вам поможем!
            
          .prices-card__cta
            a(href="#").btn.btn-black
              span Заказать 
