// TESTIMONIALS
.testimonials(data-section="7" data-header="white")
  .container
    .testimonials__slider(js-testimonialsSlider)
      // slide
      .testimonials-card.wow
        .testimonials-card__text Этот новый удобный сервис помогает не только ускорить процесс поиска дронов для съемок. Теперь у нас появилась возможность найти опытных операторов со своим оборудованием, что позволяет сэкономить время и деньги
        .testimonials-card__author
          .testimonials-card__avatar
            img(src='img/testimonialAuthor.jpg' srcset='img/testimonialAuthor@2x.jpg 2x')
          .testimonials-card__author-description
            .testimonials-card__author-name Анна Карпеева
            .testimonials-card__author-position 
              p Fancy State, ex-DDB Russia
              p @FancyState
      // slide
      .testimonials-card.wow
        .testimonials-card__text Этот новый удобный сервис помогает не только ускорить процесс поиска дронов для съемок. Теперь у нас появилась возможность найти опытных операторов со своим оборудованием, что позволяет сэкономить время и деньги
        .testimonials-card__author
          .testimonials-card__avatar
            img(src='img/testimonialAuthor.jpg' srcset='img/testimonialAuthor@2x.jpg 2x')
          .testimonials-card__author-description
            .testimonials-card__author-name Анна Карпеева
            .testimonials-card__author-position 
              p Fancy State, ex-DDB Russia
              p @FancyState
                  
      // slide
      .testimonials-card.wow
        .testimonials-card__text Этот новый удобный сервис помогает не только ускорить процесс поиска дронов для съемок. Теперь у нас появилась возможность найти опытных операторов со своим оборудованием, что позволяет сэкономить время и деньги
        .testimonials-card__author
          .testimonials-card__avatar
            img(src='img/testimonialAuthor.jpg' srcset='img/testimonialAuthor@2x.jpg 2x')
          .testimonials-card__author-description
            .testimonials-card__author-name Анна Карпеева
            .testimonials-card__author-position 
              p Fancy State, ex-DDB Russia
              p @FancyState
      // slide
      .testimonials-card.wow
        .testimonials-card__text Этот новый удобный сервис помогает не только ускорить процесс поиска дронов для съемок. Теперь у нас появилась возможность найти опытных операторов со своим оборудованием, что позволяет сэкономить время и деньги
        .testimonials-card__author
          .testimonials-card__avatar
            img(src='img/testimonialAuthor.jpg' srcset='img/testimonialAuthor@2x.jpg 2x')
          .testimonials-card__author-description
            .testimonials-card__author-name Анна Карпеева
            .testimonials-card__author-position 
              p Fancy State, ex-DDB Russia
              p @FancyState
