// TYPES
.types
  .container
    .types__wrapper
      // card
      .types-card.wow
        img.types-card__bg(src="img/typesCard1.jpg" srcset='img/typesCard1@2x.jpg 2x')
        .types-card__name Недвижимость
      // card
      .types-card.wow
        img.types-card__bg(src="img/typesCard2.jpg" srcset='img/typesCard2@2x.jpg 2x')
        .types-card__name Мероприятия 
      // card
      .types-card.wow
        img.types-card__bg(src="img/typesCard3.jpg" srcset='img/typesCard3@2x.jpg 2x')
        .types-card__name Строительство  
        
      // card
      .types-card.wow
        img.types-card__bg(src="img/typesCard4.jpg" srcset='img/typesCard4@2x.jpg 2x')
        .types-card__name Страхование 
      // card
      .types-card.wow
        img.types-card__bg(src="img/typesCard5.jpg" srcset='img/typesCard5@2x.jpg 2x')
        .types-card__name Кино и реклама 
      // card
      .types-card.wow
        img.types-card__bg(src="img/typesCard6.jpg" srcset='img/typesCard6@2x.jpg 2x')
        .types-card__name Телекоммуникации 
        
      // card
      .types-card.wow
        img.types-card__bg(src="img/typesCard7.jpg" srcset='img/typesCard7@2x.jpg 2x')
        .types-card__name Ландшафт и природа 
      // card
      .types-card.wow
        img.types-card__bg(src="img/typesCard8.jpg" srcset='img/typesCard8@2x.jpg 2x')
        .types-card__name Городские события  
      // card
      .types-card.wow
        img.types-card__bg(src="img/typesCard9.jpg" srcset='img/typesCard9@2x.jpg 2x')
        .types-card__name Другое 
    
    // numbers
    .numbers
      // card
      .numbers-card.wow
        .numbers-card__top
          .numbers-card__number 650+
          +icon('ico-users')
        .numbers-card__sub зарегистрированных пилотов
      // card
      .numbers-card.wow
        .numbers-card__top
          .numbers-card__number 6100+
          +icon('ico-clients')
        .numbers-card__sub клиентов
      // card
      .numbers-card.wow
        .numbers-card__top
          .numbers-card__number 50+
          +icon('ico-cities')
        .numbers-card__sub городов СНГ 
        
