---
title: sarex
---
extends shared/_layout
block content
  
  include components/_hero
  .page__scroller
    include components/_logos
    include components/_content-sections
    include components/_benefits
    include components/_mid-cta
    include components/_prices        
    include components/_types
    include components/_map
    include components/_logos                      
    include components/_testimonials                
    include components/_cta  
    include components/_footer
  
  include components/_callback
  
  include components/_pagination
