.hero
  // next sections will overflow this contents
  position: fixed
  top: 0
  left: 0
  right: 0
  z-index: 5
  overflow: hidden
  background: url('../img/heroBg.jpg') no-repeat center
  background-size: cover
  min-height: 600px
  height: 100vh
  display: flex
  flex-direction: column
  &::after
    display: inline-block
    content: ' '
    position: absolute 0
    z-index: 1
    background: #444c52
    opacity: .6
  > .container
    position: relative
    z-index: 3
    flex: 1 0 auto
    display: flex
    flex-direction: column
  &__wrapper
    flex: 0 0 auto
    display: flex
    flex-direction: column
    align-items: center
    max-width: 720px
    margin-left: auto
    margin-right: auto
    text-align: center
    margin-top: auto
    color: white
    padding: 100px 0 50px 0
  &__play
    position: relative
    size: 68px
    margin-bottom: 20px
    border-radius: 50%
    overflow: hidden
    cursor: pointer
    display: flex
    align-items: center
    justify-content: center
    transition: .25s .15s $ease
    .ico
      transform: translate(-2px, 2px)
      font-size: 11px
      color: $colorYellow
    &-circle
      position: absolute 0
      stroke-dasharray: 160 160
      transition: .35s $ease
    &:hover
      // background-color: $colorYellow
      .ico
        color: white
        font-size: 22px
      .hero__play-circle
        stroke-dashoffset: 160

  &__title
    font-size: 42px
    line-height: 1.42
    font-weight: 400
    letter-spacing: 0.2em
    text-transform: uppercase
    margin: 0
  &__subtitle
    font-family: $exo
    font-weight: 400
    font-size: 16px
    line-height: 1.5
    letter-spacing: 0.05em
  &__cta
    max-width: 290px
    margin-left: auto
    margin-right: auto
    margin-top: 20px
  &__join
    margin-top: 50px
    font-size: 16px
    letter-spacing: 0.05em
    font-family: $exo
    a
      transition: .25s $ease
      color: $colorYellow
      &:hover
        color: white
  &__scroll
    margin-top: 60px
    display: flex
    align-items: center
    cursor: pointer
    span
      font-family: $exo
      font-size: 14px
      letter-spacing: 0.05em
      display: inline-block
      margin-left: 20px
    .hero-scroll-svg-1, .hero-scroll-svg-2
      transition: .25s $ease
    &:hover
      .hero-scroll-svg-1
        fill: rgb(255, 255, 255)
        opacity: .2
      .hero-scroll-svg-2
        fill: rgb(223, 165, 41)
        opacity: 1

+r($desktop)
  .hero
    // &__title
    //   font-size: 34px

+r($tablet)
  .hero
    &__wrapper
      padding: 80px 0 20px 0
      max-width: 450px
      margin-bottom: auto
    &__title
      font-size: 24px
    &__subtitle

    &__cta
      margin-top: 10px

    &__join
      margin-top: 20px
    &__scroll
      position: absolute
      bottom: 20px
      margin-top: 20px
      span
        display: none

.socials
  position: fixed
  top: 50%
  transform: translateY(-50%)
  right: 30px
  z-index: 4
  a
    position: relative
    display: block
    size: 41px
    margin-bottom: 20px
    color: white
    display: flex
    align-items: center
    justify-content: center
    font-size: 8px
    border-radius: 50%
    overflow: hidden
    transition: .25s .15s $ease
    .ico-social-fb, .ico-social-tg
      font-size: 12px
    .ico-social-you
      font-size: 10px

    &:hover
      .socials__circle
        stroke-dashoffset: 100
      &.social-vk
        background: $vk
      &.social-fb
        background: $facebook
      &.social-tg
        background: $facebook
      &.social-you
        background: $youtube
    &:nth-child(even)
      .socials__circle
        transform: rotate(-90deg)
  &__circle
    position: absolute 0
    stroke-dasharray: 100 100
    transition: .25s $ease

+r($desktop)
  .socials
    display: none
    &--mobile
      position: static
      display: flex
      align-items: center
      justify-content: center
      transform: none
      a
        color: $fontColor
        margin-bottom: 0
        margin-right: 15px
        &:last-child
          margin-right: 0
        .socials__circle
          transform: rotate(-90deg)
          path:nth-child(1)
            stroke: $fontColor
        &:nth-child(3), &:nth-child(3)
          .socials__circle
            transform: none
        &:hover
          color: white
