
// MID CTA
.mid-cta
  background: white
  &__wrapper
    display: flex
    align-items: center
    margin-left: -15px
    margin-right: -15px
    min-height: 200px
  &__name
    flex: 0 0 33.3%
    padding: 15px
    display: flex
    align-items: center
    .ico
      color: $colorYellow
      font-size: 33px
    span
      display: inline-block
      margin-left: 35px
      font-weight: 500
      font-size: 16px
      letter-spacing: 0.1em
      color: #444041

  &__button
    flex: 0 0 288px
    margin-left: auto
    margin-right: auto
  &__counter
    flex: 0 0 33.3%
    padding: 15px
    display: flex
    align-items: center
    &-left
      color: $colorYellow
      font-weight: 500
      font-size: 16px
      line-height: 1
      text-align: right
      span
        display: block
        text-align: right
        margin-right: 2px
    &-sec
      font-size: 24px
    &-right
      margin-left: 35px
      span
        display: inline-block
        font-weight: 500
        font-size: 16px
        letter-spacing: 0.1em
        color: #444041

+r($desktop)
  .mid-cta
    &__wrapper
      flex-wrap: wrap
    &__counter, &__name
      flex-basis: 50%
    &__counter
      justify-content: flex-end
    &__button
      order: 3

+r($tablet)
  .mid-cta
    &__wrapper
      padding: 20px 10px
      margin: 0
      display: block
    &__name
      display: block
      padding: 25px 0
      span
        display: block
        margin-left: 0
        margin-top: 10px

    &__counter
      display: block
      padding: 25px 0
      &-left
        text-align: left
        display: flex
        align-items: baseline
        span
          display: inline-block
          margin-left: 10px
          text-align: left
      &-right
        margin-left: 0
        span
          margin-left: 0
          margin-top: 10px
