.ico-benefit-1 {
  width: 0.76em;
  height: 1em;
  fill: initial;
}
.ico-benefit-2 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-benefit-3 {
  width: 0.95em;
  height: 1em;
  fill: initial;
}
.ico-cities {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-clients {
  width: 1.46em;
  height: 1em;
  fill: initial;
}
.ico-cta-check {
  width: 1em;
  height: 1em;
  fill: #DFA529;
}
.ico-drone {
  width: 1.01em;
  height: 1em;
  fill: initial;
}
.ico-logo {
  width: 6.15em;
  height: 1em;
  fill: initial;
}
.ico-map {
  width: 1.02em;
  height: 1em;
  fill: initial;
}
.ico-phone {
  width: 0.68em;
  height: 1em;
  fill: #DFA529;
}
.ico-play {
  width: 1em;
  height: 1em;
  fill: #DFA529;
}
.ico-social-fb {
  width: 0.5em;
  height: 1em;
  fill: #FFF;
}
.ico-social-insta {
  width: 0.93em;
  height: 1em;
  fill: #FFF;
}
.ico-social-tg {
  width: 1.07em;
  height: 1em;
  fill: #FFF;
}
.ico-social-vk {
  width: 1.6em;
  height: 1em;
  fill: #FFF;
}
.ico-social-you {
  width: 1.36em;
  height: 1em;
  fill: #FFF;
}
.ico-top-arrow {
  width: 1.67em;
  height: 1em;
  fill: #DFA529;
}
.ico-user {
  width: 0.92em;
  height: 1em;
  fill: initial;
}
.ico-users {
  width: 1.37em;
  height: 1em;
  fill: initial;
}
