$sprite: (
	btn-border: (
		offset-x: 0px,
		offset-y: 0px,
		width: 135px,
		height: 47px,
		total-width: 307px,
		total-height: 280px,
		image: '../img/sprite.png'
	),
	logo1-grad: (
		offset-x: 0px,
		offset-y: -134px,
		width: 77px,
		height: 46px,
		total-width: 307px,
		total-height: 280px,
		image: '../img/sprite.png'
	),
	logo1: (
		offset-x: -87px,
		offset-y: -134px,
		width: 77px,
		height: 46px,
		total-width: 307px,
		total-height: 280px,
		image: '../img/sprite.png'
	),
	logo2-grad: (
		offset-x: 0px,
		offset-y: -227px,
		width: 47px,
		height: 53px,
		total-width: 307px,
		total-height: 280px,
		image: '../img/sprite.png'
	),
	logo2: (
		offset-x: -76px,
		offset-y: -57px,
		width: 47px,
		height: 53px,
		total-width: 307px,
		total-height: 280px,
		image: '../img/sprite.png'
	),
	logo3-grad: (
		offset-x: 0px,
		offset-y: -190px,
		width: 97px,
		height: 27px,
		total-width: 307px,
		total-height: 280px,
		image: '../img/sprite.png'
	),
	logo3: (
		offset-x: -107px,
		offset-y: -190px,
		width: 97px,
		height: 27px,
		total-width: 307px,
		total-height: 280px,
		image: '../img/sprite.png'
	),
	logo4-grad: (
		offset-x: -145px,
		offset-y: -71px,
		width: 51px,
		height: 51px,
		total-width: 307px,
		total-height: 280px,
		image: '../img/sprite.png'
	),
	logo4: (
		offset-x: -216px,
		offset-y: -96px,
		width: 51px,
		height: 51px,
		total-width: 307px,
		total-height: 280px,
		image: '../img/sprite.png'
	),
	logo5-grad: (
		offset-x: -216px,
		offset-y: 0px,
		width: 91px,
		height: 38px,
		total-width: 307px,
		total-height: 280px,
		image: '../img/sprite.png'
	),
	logo5: (
		offset-x: -216px,
		offset-y: -48px,
		width: 91px,
		height: 38px,
		total-width: 307px,
		total-height: 280px,
		image: '../img/sprite.png'
	),
	play: (
		offset-x: 0px,
		offset-y: -57px,
		width: 66px,
		height: 67px,
		total-width: 307px,
		total-height: 280px,
		image: '../img/sprite.png'
	),
	quote: (
		offset-x: -57px,
		offset-y: -227px,
		width: 33px,
		height: 33px,
		total-width: 307px,
		total-height: 280px,
		image: '../img/sprite.png'
	),
	video-play: (
		offset-x: -145px,
		offset-y: 0px,
		width: 61px,
		height: 61px,
		total-width: 307px,
		total-height: 280px,
		image: '../img/sprite.png'
	),
);


@mixin sprite-size($image) {
	background-size: map-get(map-get($sprite, $image), 'total-width') map-get(map-get($sprite, $image), 'total-height');
}

@mixin sprite-width($image) {
	width: map-get(map-get($sprite, $image), 'width');
}

@mixin sprite-height($image) {
	height: map-get(map-get($sprite, $image), 'height');
}

@mixin sprite-position($image) {
	background-position: map-get(map-get($sprite, $image), 'offset-x') map-get(map-get($sprite, $image), 'offset-y');
}

@mixin sprite-image($image) {
	background-image: url(map-get(map-get($sprite, $image), 'image'));
}

@mixin sprite-image-retina($image) {
	$image-path: map-get(map-get($sprite, $image), 'image');
	$image-path-retina: str-slice($image-path, 1, str-index($image-path, '.png') - 1) + '@2x.png';

	background-image: url($image-path-retina);
}

@mixin sprite($image, $size: true) {
	@include sprite-image($image);
	@include sprite-position($image);
	background-repeat: no-repeat;

	@if $size {
		@include sprite-width($image);
		@include sprite-height($image);
	}

	@media
		only screen and (-webkit-min-device-pixel-ratio: 2),
		only screen and (   min--moz-device-pixel-ratio: 2),
		only screen and (     -o-min-device-pixel-ratio: 2/1),
		only screen and (        min-device-pixel-ratio: 2),
		only screen and (                min-resolution: 192dpi),
		only screen and (                min-resolution: 2dppx) {

		@include sprite-size($image);
		@include sprite-image-retina($image);

	}
}



	.icon-btn-border {
		@include sprite(btn-border)
	}
	.icon-logo1-grad {
		@include sprite(logo1-grad)
	}
	.icon-logo1 {
		@include sprite(logo1)
	}
	.icon-logo2-grad {
		@include sprite(logo2-grad)
	}
	.icon-logo2 {
		@include sprite(logo2)
	}
	.icon-logo3-grad {
		@include sprite(logo3-grad)
	}
	.icon-logo3 {
		@include sprite(logo3)
	}
	.icon-logo4-grad {
		@include sprite(logo4-grad)
	}
	.icon-logo4 {
		@include sprite(logo4)
	}
	.icon-logo5-grad {
		@include sprite(logo5-grad)
	}
	.icon-logo5 {
		@include sprite(logo5)
	}
	.icon-play {
		@include sprite(play)
	}
	.icon-quote {
		@include sprite(quote)
	}
	.icon-video-play {
		@include sprite(video-play)
	}
