.ico-benefit-1 {
  width: 0.76em;
  height: 1em;
  fill: initial;
}
.ico-benefit-2 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-benefit-3 {
  width: 0.95em;
  height: 1em;
  fill: initial;
}
.ico-drone {
  width: 1.01em;
  height: 1em;
  fill: initial;
}
.ico-logo {
  width: 6.15em;
  height: 1em;
  fill: initial;
}
.ico-phone {
  width: 0.68em;
  height: 1em;
  fill: #DFA529;
}
.ico-social-fb {
  width: 0.5em;
  height: 1em;
  fill: #FFF;
}
.ico-social-insta {
  width: 0.93em;
  height: 1em;
  fill: #FFF;
}
.ico-social-tg {
  width: 1.07em;
  height: 1em;
  fill: #FFF;
}
.ico-social-tw {
  width: 1.14em;
  height: 1em;
  fill: #FFF;
}
.ico-social-vk {
  width: 1.6em;
  height: 1em;
  fill: #FFF;
}
.ico-user {
  width: 0.92em;
  height: 1em;
  fill: initial;
}
