.ico-clock {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-copter_ico {
  width: 1.01em;
  height: 1em;
  fill: #DFA529;
}
.ico-email {
  width: 1.4em;
  height: 1em;
  fill: #FFF;
}
.ico-guard {
  width: 0.95em;
  height: 1em;
  fill: initial;
}
.ico-list_ico {
  width: 0.76em;
  height: 1em;
  fill: initial;
}
